body {
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
}

button {
    margin: 15px 0px 15px 0px;
}

table {
    border: 1px solid black;
    border-spacing: 0.1rem;
    padding: 5px;
    table-layout: fixed;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 10px;
    height: 20px;
    width: 20px;
    /*float: left;*/
}

main,
section {
    margin: 10px auto;
    width: 75%;
}

.chessPiece {
    color: red;
    font-size: 1.2em;
}

.blackSquare {
    background-color: black;
}

.pieceSquare {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 5px;
}

.mobile-warning {
    display: none;
    
}

/* Smartphones and (most?) tablets */
@media (max-width: 800px) {
    .mobile-warning { 
        display: block;
        font-size: 1.3em;
        color: red;
    }

    .mobile-hide {
        display: none;
    }
}
