body {
	margin: auto;
	padding: 20px;
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
}

.wrapper {
	margin: auto;
	width: 90%;
	max-width: 800px;
	background-color: white;
	padding: 1rem;
	border: 5px solid black;
}

.my-btn {
	margin: 20px auto;
	width: 100%;
}

.wrapper div {
	display: flex;
	clear: both;
	margin: 0 auto;
	width: 70%;
	padding-top: 0.8rem;
	padding-bottom: 2rem;
}

.wrapper div label,
.wrapper div input {
	width: 45%;
}

input[type="text"] {
	height: 75px;
	margin-top: 10px;
	margin-bottom: 10px;
}

@media (max-width: 600px) {
	.wrapper div label,
    .wrapper div input {
		width: 100%;
	}

	.wrapper div {
		padding-bottom: 1.5rem;
		display: block;
	}
}
