body {
	margin: auto;
	padding: 20px;
	font-family: sans-serif;
}

.wrapper {
	margin: auto;
	width: 80%;
	max-width: 800px;
	background-color: rgb(250,250,250);
	padding: 1rem;
	border: 5px solid black;
}

form div label {
	float: left;
	width: 45%;
}

form div input {
	float: right;
	width: 45%;
}

form div {
	clear: both;
	margin: 0 auto;
	width: 70%;
	padding-bottom: 4rem;
}

input[type="text"] {
	height: 75px;
	margin-top: 10px;
	margin-bottom: 10px;
}

@media (max-width: 600px) {
	form div label {
		float: none;
		width: 100%;
		text-align: left;
	}

	form div input {
		float: none;
		width: 100%;
	}

	form div {
		padding-bottom: 1.5rem;
	}
}
