* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

a:focus {
    text-decoration: underline;
}

/**
 * Reset button styles.
 * It takes a bit of work to achieve a neutral look.
 */
 button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* show a hand cursor on hover; some argue that we
    should keep the default arrow cursor for buttons */
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #eee;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.extra-padding {
    padding: 2px 15px;
}

.info-para {
    margin: 5px 15px;
    text-align: center;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.jumbotron {
    background: linear-gradient(315deg, #8FCDFF 20%, #1A91ED 100%);
    color: inherit;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.jumbotron h1 {
    color: white;
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}

.home-link {
    font-size: 1.3em;
}

.main-container {
    margin: 10px auto 25px auto;
    padding: 5px 20px;
}

.main-footer {
    margin: 35px 0;
}

.my-svg {
    display: block;
    height: 35px;
    width: 35px;
    margin: 5px auto;
}

.my-btn,
.btn-link {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 8px grey;
    color: #292929;
    background-color: white;
    display: inline-block;
    margin: 10px auto;
    padding: 6px 12px;
    text-align: center;
    width: 90%;
}

.my-btn:hover,
.my-btn:focus {
    opacity: 0.8;
    text-decoration: none;
    box-shadow: 2px 2px 5px black;
}

.btn-link:hover,
.btn-link:focus {
    opacity: 0.8;
    text-decoration: none;
    box-shadow: 2px 2px 5px black;
    color: inherit;
}


.my-btn:active,
.btn-link:active {
    transform: translate(1px, 1px);
    filter: saturate(150%);
    outline: none;
}

.btn-lrg {
    min-height: 40px;
    font-size: inherit;
}

/* Pulled these gradients from Polymer's website */
.gradient-blue {
    background: linear-gradient(315deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%), 
                linear-gradient(315deg, #3FC7FF 0%, #00A3E6 100%);
}

.gradient-purple {
    background: linear-gradient(315deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%), linear-gradient(315deg, #AF6AFF 0%, #6700DF 100%);
}

.gradient-orange {
    background: linear-gradient(315deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%), linear-gradient(315deg, rgb(250, 149, 90) 0%, rgb(250, 112, 21) 100%);
}

.gradient-green {
    background: linear-gradient(315deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%), linear-gradient(315deg, #20FFA7 0%, #00D67C 100%);
}

.gradient-grey {
    background: linear-gradient(315deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%), linear-gradient(315deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.6) 100%);
}

.gradient-red {
    background: linear-gradient(315deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%), linear-gradient(315deg, #FA5A5A 0%, #FF2F2F 100%);
    color: white;
}

.contact {
    text-align: center;
}

.contact a {
    line-height: 1.2;
}

.contact h2 {
    text-align: center;
    text-decoration: underline;
}

.input-box {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-box:focus {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.rainbow-anim { 
    background: linear-gradient(124deg, #69c478, #2ba53f, #1ddde8, #4374be);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}

@keyframes rainbow { 
    0% { background-position: 0% 82% }
    50% { background-position: 100% 19% }
    100% { background-position: 0% 82% }
}

@media (min-width: 600px)  {
    .container-flex {
        flex-direction: row;
    }

    .jumbotron {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .main-container {
        width: 60vw;
    }

    .my-btn,
    .btn-link {
        width: 45%;        
    }
    
    .my-svg {
        height: 40px;
        width: 40px;
    }
}

/* Media query for landscape tablets or laptops / PC */
@media (min-width: 1000px)  {
    .container-flex {
        flex-direction: row;
    }

    .jumbotron h1 {
        font-size: 63px;
    }
    
    .main-container {
        width: 45vw;
    }
    
    .my-svg {
        height: 60px;
        width: 60px;
    }

    .my-btn,
    .btn-link {
        width: 30%;
    }
}
