body {
    /* padding-top: 60px; */
    margin-bottom: 50px;
}

/* .navbar-toggle {
    float: left;
    margin-left: 15px;
} */

.jumbotron {
    background: linear-gradient(315deg, #8FCDFF 20%, #1A91ED 100%);
}

.rainbow-anim { 
    background: linear-gradient(124deg, #69c478, #2ba53f, #1ddde8, #4374be);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}

@keyframes rainbow { 
    0% { background-position: 0% 82% }
    50% { background-position: 100% 19% }
    100% { background-position: 0% 82% }
}
