body {
  font-family: Arial, sans-serif;
  font-size: 1.3em;

  width: 85vw;
  margin: 8px auto 55px auto;
  text-align: center;
}

main p {
  font-size: 1.2rem;
  margin: 10px auto;
  text-align: justify;
}

footer {
  margin-top: 50px;
}

#pw-length {
  width: 75px;
  height: 35px;
  font-size: 1em;
  text-align: center;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.25)
}

#password-output {
  letter-spacing: 0.7px;
}

#password-box {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.4rem;
  letter-spacing: 0.7px;
  padding: 4px;
  width: 100%;
}

#error-output {
  background-color: lightcoral;
  margin: 10px auto;
}

#genPassBtn,
.checkboxes label {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.checkboxes {
  text-align: left;
  margin-left: calc(50% - 100px);
  margin-top: 15px;
  margin-bottom: 25px;
}

.checkboxes > div {
  margin-bottom: 15px;
}

/* Media query for tablets */
@media (min-width: 600px) {
  main p {
    width: 75%;
  }

  #password-box {
    width: 45%;
  }
}

/* Media query for desktops */
@media (min-width: 1000px) {
  #password-box {
    width: 30%;
  }

  main p {
    font-size: 1.3rem;
    width: 75%;
  }

  #error-output {
    width: 50%;
    margin: auto;
  }
}

/* Media query for tablets and phones */
@media (max-width: 800px) {
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
}