body {
  font-family: Arial, sans-serif;
  font-size: 1.3em;

  width: 85vw;
  margin: 8px auto 55px auto;
  text-align: center;
}

#pass-length {
  width: 75px;
  height: 35px;
  text-align: center;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.25)
}

#pass-length:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

#password-output {
  letter-spacing: 0.7px;
}

#genPassBtn,
.checkboxes label {
  user-select: none;
}

.checkboxes {
  text-align: left;
  margin-left: calc(50% - 100px);
}

.checkboxes > div {
  margin-bottom: 15px;
}
