body {
    padding-bottom: 40px;

    overflow-x: hidden;
}

input {
    width: 30%;
}

.btn {
    margin-top: 15px;
}

.my-btn {
    width: 100%;
}

.input-box {
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Going for mobile-first widths here */
.my-container {
    width: 80vw;
    margin: 5px auto;
}

/* Media queries for tablets */
@media (min-width: 600px)  {
    .my-container {
        width: 70vw;
        margin: 5px auto;
    }

    .my-btn {
        width: 45%;
    }
}

/* Media query for landscape tablets or laptops / PC */
@media (min-width: 1000px)  {
    .my-container {
        width: 50vw;
        margin: 5px auto;
    }

    .my-btn {
        width: 45%;
    }
}