body {
    margin-left: 20px;
    padding-top: 60px;
    padding-bottom: 40px;

    overflow-x: hidden;
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
}

label {
    font-weight: normal;
}

input {
    width: 30%;
}

/* Going for mobile-first widths here */
.my-container {
    width: 80vw;
    margin: 5px auto;
}

/* Media queries for tablets */
@media (min-width: 600px)  {
    .my-container {
        width: 75vw;
        margin: 5px auto;
    }
}

/* Media query for landscape tablets or laptops / PC */
@media (min-width: 1000px)  {
    .my-container {
        width: 80vw;
        margin: 5px auto;
    }
}