body {
    padding-left: 25px;
    font-family: sans-serif;
    font-size: 1.2em;
}

button {
    font-weight: normal;
    vertical-align: middle;
    border-radius: 5px;
    border: 1px groove grey;
    cursor: pointer;
    padding: 2.5px 5px;
}

button:hover {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24)
}

button:disabled {
    cursor: not-allowed;
}