<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Security</title>
	<meta name="author" content="Steve Bedell">
	<meta name="description" content="Information security dashboard which pulls in content, news, and other information into one place.">
	<meta name="keywords" content="JavaScript, Information Security, web security, cyber, security">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css" 
		integrity="sha384-YzEqZ2pBV0i9OmlTyoz75PqwTR8If8GsXBv7HLQclEVqIC3VxIt98/U94ES6CJTR" 
		crossorigin="anonymous">
	
	<link rel="stylesheet" href="./css/mainStyles.css">
	<link rel="stylesheet" href="./css/security-styles.css">
</head>
<body>
	<div class="main-container">
		<main>
			<h1>Web Security Informational Page</h1>
			<a target="blank" href="//isc.sans.edu">
				<img class="img-responsive" title="Internet Storm Center Infocon Status" 
					alt="Internet Storm Center Infocon Status" src="//isc.sans.edu/images/status.gif">
			</a>

			<h3>SANS DShield and ISC Data</h3>

			<section id="search-section-vue">
				<p>Search IP address for potential attacks against that IP address.</p>
				<input id="ipaddr" class="input-box" type="text" value="" placeholder="IP Address" aria-label="IP Address"><br />
				<button class="my-btn btn-lrg gradient-blue" type="button" v-on:click="searchIpAddressVue">Search IP Address</button><br /><br />

				<p>Search for port numbers to find out more information on that port.</p>
				<input id="port" class="input-box" type="number" value="" placeholder="Port Number" min="0" max="65536" aria-label="Port Number"><br />
				<button class="my-btn btn-lrg gradient-blue" type="button" v-on:click="searchPortVue">Search Ports</button><br />
				
				<button class="my-btn btn-lrg gradient-red" type="button" v-on:click="clearResults">Clear Results</button><br /><br />

				<section v-if="apiResponsePort" id="port-results-section">
					<p><b>Port #:</b> {{ apiResponsePort.number}}</p>
					<p v-if="apiResponsePort.services.tcp.name"><b>TCP Port Name / Type:</b> {{ apiResponsePort.services.tcp.name }}</p>
					<p v-if="apiResponsePort.services.tcp.service"><b>TCP Service:</b> {{ apiResponsePort.services.tcp.service }}</p>
					<p v-if="apiResponsePort.services.udp.name"><b>UDP Port Name / Type:</b> {{ apiResponsePort.services.udp.name }}</p>
					<p v-if="apiResponsePort.services.udp.service"><b>UDP Service:</b> {{ apiResponsePort.services.udp.service }}</p>
				</section>

				<section v-if="apiResponseIpAddr">
					<p><b>IP Address:</b> {{ apiResponseIpAddr.ip.number }}</p>
					<p><b>Name:</b> {{ apiResponseIpAddr.ip.asname }}</p>
					<p v-if="apiResponseIpAddr.ip.ascountry"><b>Country:</b> {{ apiResponseIpAddr.ip.ascountry }}</p>
					<p v-if="apiResponseIpAddr.ip.attacks"><b>Security:</b> {{ apiResponseIpAddr.ip.attacks }} attacks against this IP addr
						<span v-if="apiResponseIpAddr.ip.mindate && apiResponseIpAddr.ip.maxdate">
							from {{apiResponseIpAddr.ip.mindate}} to {{ apiResponseIpAddr.ip.maxdate}}
						</span>
					</p>
					<p v-else><b>Security:</b> No recorded / detected attacks against this IP address.</p>
					<p v-if="apiResponseIpAddr.ip.asabusecontact"><b>Abuse Contact:</b> {{ apiResponseIpAddr.ip.asabusecontact}}</p>
				</section>

				<p v-if="errorText" class="error-text">{{ errorText }}</p>
			</section>
			<hr>
			
			<div>
				<h3>Browser Info</h3>

				<div id="findipwidget"></div>
				<div class="findiplink" id="findipurl">Powered by <a href="http://www.find-ip.net/" target="_blank">Find-IP.net</a></div>
				<script defer src="https://api.find-ip.net/widget.js?width=240"></script>
				
				<section id="browser-section">
					<p><b>User Agent:</b> {{ userAgent }}</p>
					<p><b>Monitor Resultion:</b> {{ monitorResolution }}</p>
					<p><b>Browser Resolution:</b> {{ browserResolution }}</p>
				</section>

				<p><a href="//arstechnica.com/tech-policy/2013/08/in-aclu-lawsuit-scientist-demolishes-nsa-its-just-metadata-excuse/">"It's just metadata"</a>, right?</p>
			</div>
		</main>
		<footer class="main-footer">
			<hr />
			<p>&copy; Steve Bedell; 2013-2019.</p>
			<p>Built with <a href="//isc.sans.edu/api/">Sans ISC / DShield</a> APIs.</p>
			<p class="home-link"><a href="./index">Back to Home page</a></p>
		</footer>
	</div>

	<!-- jquery is needed for toastr -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"></script>
				
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js" 
		integrity="sha384-VDls8ImYGI8SwVxpmjX2Bn27U2TcNodzTNROTusVEWO55+lmL+H9NczoQJk6mwZR" 
		crossorigin="anonymous" defer></script>

		<!-- Vue development version, includes helpful console warnings -->
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" crossorigin="anonymous"
			integrity="sha384-9u9lzb/hr8e14GLHe5TEOrTiH3Qtw5DX2Zw9X/g7cqj81W2McEMx5CKOszxdb8jg"></script> -->

		<!-- Vue production version, optimized for size and speed -->
		<script src="https://cdn.jsdelivr.net/npm/vue" crossorigin="anonymous"
			integrity="sha384-8t+aLluUVnn5SPPG/NbeZCH6TWIvaXIm/gDbutRvtEeElzxxWaZN+G/ZIEdI/f+y"></script>
		
	<script src="js/securityScripts.js"></script>
</body>
</html>
