body {
    font-family: sans-serif;
    overflow-x: hidden;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 15px;
}

.main-container {
    width: 85vw;
    margin: 8px auto 55px auto;
}

/*
  Taking this code directly from Bootstrap:
*/
.btn {
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-block;
    font-family: inherit;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: #286090;
    border-color: #204d74;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.4;
    border-radius: 6px;
}

.btn-block {
    display: block;
    width: 100%;
}

.gradient-red {
    background: linear-gradient(315deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%), linear-gradient(315deg, #FA5A5A 0%, #FF2F2F 100%);
    color: white;
}

/* Media queries for tablets */
@media (min-width: 600px)  {
    .main-container {
        width: 60vw;
    }
}

/* Media query for landscape tablets or laptops / PC */
@media (min-width: 1000px)  {
    .main-container {
        width: 45vw;
    }
}
