<!DOCTYPE html>
<html ng-app="store">
    <head>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </head>
    <body ng-controller="StoreController as store">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="product in store.products">
                <h3>{{ product.name }}
                    <em class="pull-right"> {{ product.price | currency }}</em>
                    <img width="250px" ng-src="{{product.image }}" />
                    <!-- <p>{{ product.description }}</p> -->
                    <!-- <button ng-show="store.product.canPurchase">Add to cart</button> -->
                </h3>
                <section ng-init="tab = 1" ng-controller="PanelController as panel">
                    <ul class="nav nav-pills">
                        <li ng-class="{active: panel.isSelected(1)}">
                            <a href ng-click="panel.selectTab(1)">Description</a>
                        </li>
                        <li ng-class="{active: panel.isSelected(2)}">
                            <a href ng-click="panel.selectTab(2)">Specifications</a>
                        </li>
                        <li ng-class="{active: panel.isSelected(3)}">
                            <a href ng-click="panel.selectTab(3)">Reviews</a>
                        </li>
                    </ul>
                    <div class="panel" ng-show="panel.isSelected(1)">
                        <h4>Description</h4>
                        <p>{{ product.description }}</p>
                    </div>
                    <div class="panel" ng-show="panel.isSelected(2)">
                        <h4>Specifications</h4>
                        <blockquote>Shine: {{ product.shine }}</blockquote>
                    </div>
                    <div class="panel" ng-show="panel.isSelected(3)">
                        <h4>Reviews</h4>
                        <blockquote ng-repeat="review in product.reviews">
                            <b>Stars: {{review.stars}}</b>
                            {{review.body}}
                            <cite>by: {{review.author}}</cite>
                        </blockquote>
                    </div>
                </section>
            </li>
        </ul>
    </body>
</html>
