<div>
    <div class="jumbotron">
        <div class="container">
            <h1>Angular Tabs Tutorial</h1>
            <p>Ohio State University class of 2014 - Computer &amp; Information Science. My focus is on web development and information security.</p>
            <p><a class="btn btn-primary btn-lg" role="button" href="templates/resume.html">My Resume &raquo;</a></p>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Academic Information</h2>
          <p>I strive to learn something new every day, here is a subset of things I'm working on or studying.</p>
          <p>Side Projects:</p>
          <ul>
            <li>Going through problems on Project Euler</li>
            <li>Working on the Matasano Crypto Challenges</li>
          </ul>
          <p>Studying:</p>
          <ul>
            <li>Reading through courses on <a href="https://www.opensecuritytraining.info/">Open Security Training</a></li>
            <li>Learning about x86 assembly language from the book <em>Hacking: The Art of Exploitation</em></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h2>HTML5 &amp; js Demos:</h2>
          <p>Check my <a target="blank" href="https://github.com/sbedell/">Github page</a> for more of my work.</p>
          <p><a class="btn btn-default" role="button" href="gmaps/gmaps.html">Google Maps API Project &raquo;</a></p>
          <p><a class="btn btn-default" role="button" href="./vibrate">HTML5 Vibrate API Demo &raquo;</a></p>
          <p><a class="btn btn-default" role="button" href="./StorageDemo">HTML5 LocalStorage Demo &raquo;</a></p>
          <p><a class="btn btn-default" role="button" href="./soundboard">HTML5 Audio Demo &raquo;</a></p>
       </div>
        <div class="col-md-4">
            <h2>Contact</h2>
            <div>Email: bedell.369 @ osu dot edu</div>
            <div><a target="blank" href="https://www.linkedin.com/profile/view?id=165911250">LinkedIn</a></div>
        </div>
      </div>
    </div> <!-- /container -->
</div>
