<!-- <title>Web Storage API example</title>
<meta name="description" content="This is a HTML5 DOM Storage Demo page. Most of the code is from Mozilla Developer Network - MDN.">
<meta name="keywords" content="HTML5, Mozilla, Firefox, MDN, Google, Chrome"> -->
<div class="wrapper">
	<h3>Web storage</h3>
	<div>
		<label for="bgcolor">Choose color:</label>
		<input type="color" id="bgcolor" value="#FF0000" />
	</div>
	<div>
		<label for="font">Session Storage textbox (autosaves):</label>
		<input type="text" id="sessionstore" value="" />
	</div>
    <div>
        <input type="button" id="DELETE" value="Clear local and session storage for this site." />
    </div>
	<p>Pick a color for the background of this form and it will be saved in local storage. Anything you type in the textbox will be saved in session storage.<br>
    Demo page built with code from <a href="https://developer.mozilla.org/en-US/">Mozilla's MDN pages.</a></p>
</div>
