body {
    padding: 10px;
    font-family: sans-serif;
}

button {
    margin: 15px 0px 15px 0px;
}

table {
    border: 1px solid black;
    padding: 5px;
}

td {
    border: 1px dotted black;
    padding: 10px;
    height: 20px;
    width: 20px;
}

#kingPiece {
    color: red;
}

#queenPiece {
    color: red;
}

.blackSquare {
    background-color: black;
}

.pieceSquare {
    font-size: 1.2em;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 5px;
}
