.main-container {
  margin: 10px auto;
}

.jumbotron {

}

.row {
  display: flex;
  justify-content: center;
}

.col-md-4 {

}

.navbar {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  min-height: 50px;
  border: 1px solid transparent;
}

.navbar-nav > li {
  float: left;
}

.nav {
  list-style: none;
}

.nav > li {
  position: relative;
  display: block;
}

.navbar-inverse {
  background-color: #222;
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  border-width: 0 0 1px;
  border-radius: 0;
}